<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="scala.scalatest">
<stringAttribute key="SCALATEST_LAUNCH_INCLUDE_NESTED" value="false"/>
<setAttribute key="SCALATEST_LAUNCH_TESTS_NAME">
<setEntry value="RowPixelDistributorSpec should scala.StringContext.apply(&quot;return the correct number of blocks&quot;).s()"/>
<setEntry value="RowPixelDistributorSpec should scala.StringContext.apply(&quot;return the correct number of pixels&quot;).s()"/>
<setEntry value="RowPixelDistributorSpec should scala.StringContext.apply(&quot;return unique pixels&quot;).s()"/>
</setAttribute>
<stringAttribute key="SCALATEST_LAUNCH_TYPE" value="SUITE"/>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="test.BlockPixelDistributorSpec"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="ray-tracer"/>
</launchConfiguration>
